<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=false;">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div id="menu" th:fragment="menu">
    <div class="container-fluid bg-dark">
        <div class="container">
            <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
                <span class="navbar-brand mb-0 h1">Art gallery</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/main">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/basket" th:if="${isLogged}"><i class="fa fa-shopping-basket mr-1" ></i>Basket</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/logout" th:if="${isLogged}">Logout</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/login" th:if="${isLogged == null}">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

</body>
</html>