<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=false;">
    <title>Rejestracja - Galeria Sztuki</title>
    <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="validate.js"></script>
</head>
<body>
    <div th:replace="fragments.html :: menu"></div>
    <div class="container bg-light text-center py-5">
        <form id="register" method="post" onsubmit="return validate()">
            <p th:if="${info}" th:text="${info}" id="error"></p>
            <div class="form-group">
                <input type="text" placeholder="Login" th:field="*{registrationModel.login}" id="login" class="form-control mx-auto">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" th:field="*{registrationModel.pass}" id="pass" class="form-control mx-auto">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Repeat password" th:field="*{registrationModel.pass2}" id="pass2" class="form-control mx-auto">
            </div>
                <input type="submit" value="Register" class="btn btn-dark">
        </form>
    </div>
</body>
</html>